h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
  line-height: 1.20;
}

.card-container {
  padding-top: 14px;
  padding-bottom: 24px;
  border-radius: 120px;
  max-width: 480px;
}

.animation {
  transition: 300ms ease;
}
